// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin:33px;
}
.h{
  margin-top:17.420px;
  margin-bottom:17.420px;
}

.p1{
  margin:33px;
}

.p2{
  margin:33px;
}

.p3{
  margin:33px;
}